@page
@model Matriculas.App.WebApp.Pages.ContactUsModel
@{
}

<h1>Contáctanos </h1>

     <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Contáctanos - Internacional</h6>
                                </div>
                                <div class="card-body">
        En Bancolombia disponemos de diversos canales para que puedas comunicarte con nosotros de manera directa, clara y sencilla. Conócelos en este espacio.

        Seleccionando la opción que prefieras
        Elige una de las siguientes opciones para comunicarte con nuestros asesores virtuales y obtener información sobre productos, servicios o sobre la navegación en la Sucursal Virtual.
                                </div>
                            </div>


