@page
@model Matriculas.App.WebApp.Pages.LogoutModel
@{
}
<div>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger">
        </div>
        <div class="container">
            <div>
                <p>Esta seguro de salir ?</p>
                <p>
                    <button class="btn btn-primary" asp-page-handler="Logout">Si</button>
                    <button class="btn btn-light" asp-page-handler="NoLogout">No</button>
                </p>
            </div>
        </div>
    </form>
</div>